#top-section #card-section {
  padding: 3% 7%;
}

#middle-section #card-section {
  padding: 3% 4%;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  border: none;
  box-shadow: 1px 15px 24px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 15px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 15px 24px -8px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  text-decoration: none;
  /* background-color: #c1f0ff; */
}

.hoverable {
  margin: 7% auto;
}

.hoverable:hover {
  transform: translate(0, -10px);
  cursor: pointer;
}

.card-header {
  background-color: #ff368d;
  color: #fff;
  border: none;
}

.card-by-id {
  width: 50%;
  height: 15rem;
  margin: 0 auto;
  text-align: center;
}

.header-card-by-id {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-card-by-id {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 900;
  padding-top: 15px;
}

.card-body {
  background-color: rgba(244, 244, 244, 0.3);
  color: #000;
  border: none;
}

.card-text {
  font-size: 1rem;
}

.card-footer {
  color: #000;
  border: none;
}

.post-owner {
  border-radius: 5px;
}

.post-owner-name {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.comment-profile-image {
  margin-right: 10px;
}

.comment-see-more {
  float: right;
  text-decoration: none;
  color: rgb(70, 125, 255);
}

.comment-text {
  font-size: 0.8rem;
}
