#top-section #card-section {
  padding: 3% 7%;
}

#middle-section #card-section {
  padding: 3% 4%;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  border: none;
  box-shadow: 1px 15px 24px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 15px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 15px 24px -8px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  text-decoration: none;
  /* background-color: #c1f0ff; */
}

.hoverable {
  margin: 7% auto;
}

.hoverable:hover {
  transform: translate(0, -10px);
  cursor: pointer;
}

.card-header {
  background-color: #ff368d;
  color: #fff;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  background-color: rgba(244, 244, 244, 0.3);
  color: #000;
  border: none;
}

.card-footer-item {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.card-footer-text {
  margin: auto 7px;
  text-decoration: none;
  color: #000000;
}

.card-footer-item:hover {
  background: rgb(233, 233, 233);
}

.card-text {
  font-size: 1rem;
  margin: 0;
}

.card-text-id {
  margin: 1rem;
}

.ellipsis-icon {
  right: 20px;
  width: 30px;
  height: 28px;
}

.btn-ellipsis {
  border: none;
  background: none;
  color: #ffffff;
}

.card-by-id {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}

.header-card-by-id {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 900;
  padding-top: 15px;
}

.btn-follow {
  color: #ffffff;
  background-color: rgb(50, 50, 50);
}

.btn-follow:hover {
  color: #ffffff;
  background-color: rgb(94, 86, 86);
}

.card-footer {
  color: #000;
  border: none;
}

.post-owner {
  border-radius: 5px;
}

.post-owner-name {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.comment-profile-image {
  margin-right: 10px;
}

.comment-see-more {
  float: right;
  text-decoration: none;
  color: rgb(70, 125, 255);
}

.comment-text {
  font-size: 0.8rem;
}

@media (max-width: 991px) {
  .card {
    width: 80%;
    max-height: max-content;
  }

  .card-text {
    width: 80%;
  }
}
