#create-section {
    text-align: center;
}

.create-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto 30px;
}

.post-textarea {
    border-radius: 5px;
    padding: 2%;
    margin: 10px auto;
}

.submit-bon {
    margin: 15px auto;
}


