@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Noto+Sans+Thai:wght@400;900&family=Ubuntu:wght@400;700&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Montserrat', Noto Sans Thai;
}